@model FacturasCobroMensual_03.Models.Casas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Casas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumeroCasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroCasa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Residentes.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Residentes.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDCasa }) |
    @Html.ActionLink("Back to List", "Index")
</p>
